<h1>Teams</h1>
<table>
  <thead>
    <th>Name</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= link_to "Show", team %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
