<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<%= render partial: "seats/list", locals: { seats: @team.seats } %>
<%= link_to 'New Seat', new_team_seat_path(@team) %>
<%= link_to "Back", teams_path %>
