<table>
  <thead>
    <th>Email</th>
    <th></th>
    <th></th>
  </thead>
  <tbody>
    <% seats.each do |seat| %>
      <tr>
        <td><%= seat.email %></td>
        <td><%= link_to "Edit", edit_seat_path(seat) %></td>
        <td><%= button_to "Remove", seat_path(seat), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
