# See https://help.github.com/articles/ignoring-files for more about ignoring files.

# Ignore bundler config.
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore Byebug command history file.
.byebug_history

# Ignore rbenv-gemset's directory for locally installed gems.
.gems

# Ignore front-end dependencies
node_modules

# Ignore node/npm debug log files
npm-debug.log
