<ul class="nav nav-pills nav-stacked" role="navigation">
  <li class="nav-item">
    <%= link_to "Teams", teams_path, class: "nav-link"  %>
  </li>
  <li class="nav-item">
    <%= link_to "Users", users_path, class: "nav-link"  %>
  </li>
</ul>
