<div class="pb-1 pt-1">
  <h1 class="text-muted">Standfast</h3>
</div>

<div class="jumbotron text-xs-center" style="background: none">
  <h2 class="display-3">Nobody likes meetings</h1>
  <p class="lead">Collect and share status reports via email.</p>
  <p><%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary" %></p>
</div>
