<!DOCTYPE html>
<html>
  <head>
    <title>Standfast</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <main class="mx-auto" style="width: 10.9rem;">
      <%= yield %>
    </main>
  </body>
</html>
